<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ERROR 404</title>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    </head>
    <body style="align-items: center; margin-left:150px;">   
        <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_6nmazhqu.json"  background="transparent"  speed="1"  style="width: 25em; height: 30em; margin-left: 25em;"  loop  autoplay></lottie-player>
        <a href="/"> <button style="height: 3rem; width: 6rem; border-radius: 10%; border: none; color: rgb(0, 0, 0); background-color: rgb(156, 165, 193); margin-left: 40em;">Back To Home</button> </a>
    </body>
</html>
